#ProfilePicRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: blueviolet; */
}

#ProfilePic {
  margin: 0;
  padding: 0;
  width: 80%;
}

#profileIntro {
  display: flex;
  text-align: left;
  justify-content: flex-end;
  height: 45vh;
}
