#homeContainer {
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: none !important;
  margin-top: 0.5em;
  padding: none;
  gap: none;
  overflow: hidden;
}

#homeColumnOne {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 95%;
  overflow: hidden;
  margin-top: 1.2em;
  margin-left: 1em;
  margin: none;
  padding: none;
  gap: none;
}

#homeColumnTwo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll !important;
  scrollbar-color: var(--Text);
  scroll-behavior: smooth;
  padding: 1em;
  gap: none;
}

#experienceRow {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 570px) {
  #homeContainer {
    height: 98%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: none !important;
    margin-top: 0.5em;
    padding: none;
    gap: none;
    overflow-y: scroll !important;
  }
  #homeColumnOne {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 95%;
    overflow: scroll !important;
    margin-top: 1em;
    margin: none;
    padding: none;
    gap: none;
  }
  #homeColumnTwo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    overflow-y: scroll !important;
    scrollbar-color: var(--Text);
    scroll-behavior: smooth;
    padding: 1em;
    gap: none;
  }
}
