#experienceBody {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: rgb(0, 0, 255, 0.3);
  border-radius: 10px;
}
#Container {
  /* background-color: cornflowerblue; */
  border-radius: 5px;
  width: 20vw;
  height: 25vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
#UncontrolledCarousel {
  row-gap: 15px;
  width: 10vw;
}

Accordion {
  width: 100% !important;
}
