/* /* THEME * */

/* Light mode */
body {
  /* --Text: RGB(24, 117, 69, 0.9); */
  --Text: black;
  --NavBar: rgb(219, 55, 44, 0.8);
  --Background: white;
  --Footer: RGB(0, 18, 134, 0.8);
}

/* Dark mode */
.dark-mode {
  /* --Text: RGB(24, 117, 69, 0.9); */
  --Text: white;
  --NavBar: RGB(0, 18, 134, 0.9);
  --Background: black;
  --Footer: rgb(219, 55, 44, 0.9);
}
/* Font: import and defining */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Text);
  line-height: 1.5em;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1, 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1, 500;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

p,
li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

html,
body {
  margin-top: 1.5em;
  margin-bottom: 3em;
  background-color: var(--Background);
  height: 100vh;
  width: 100vw;
  color: var(--Text);
  overflow: hidden;
}

/* NAVIGATION BAR */
#NavBar {
  position: fixed;
  top: 0;
  /* height: 100%; */
  height: 2.5em;
  width: 100vw !important;
  margin: none;
  margin-bottom: 1em;
  /* padding-bottom: 1em;; */
  overflow: hidden;
  z-index: 5;
  background-color: var(--NavBar);
}

#navbarList {
  display: flex;
  flex-direction: row;
  grid-template-columns: 6, 1fr;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

li > a {
  text-decoration: none !important;
}

#navbarList > * {
  color: var(--HeaderText);
  font-size: 1.2em;
  text-decoration: none;
}

#lightModeButton {
  /* border-radius: 10%; */
  height: 3em;
  font-size: small;

  /* justify-content: center; */
  /* background-color: ; */
}

/*** PAGES ***/

::placeholder {
  font-style: italic;
  font-size: small;
}

/* FOOTER */
#footer {
  position: fixed;
  bottom: 0;
  height: 2.5em;
  width: 100vw;
  margin: none;
  margin-top: 1em;
  margin-bottom: 1px;
  overflow: none;
  z-index: 999;
  background-color: var(--Footer);
}

#footerList {
  display: flex;
  flex-direction: row;
  grid-template-columns: 3, 1fr;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

#footerList > * {
  color: var(--FooterText);
  font-size: 1.2em;
  justify-content: center;
  text-decoration: none;
}
