/* /* THEME * */

/* Light mode */
body {
  --Text: black;
  --NavBar: rgb(244, 162, 97, 0.95);
  --Background: rgb(233, 196, 106, 0.5);
  --Footer: RGB(42, 157, 143, 0.95);
}

/* Dark mode */
.dark-mode {
  --Text: black;
  --NavBar: RGB(231, 111, 81, 0.95);
  --Background: rgb(233, 196, 106, 0.9);
  --Footer: rgb(38, 70, 83, 0.95);
}
/* Font: import and defining */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Text);
  line-height: 1.5em;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1, 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 1, 500;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

p,
li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

html,
body {
  margin-top: 1.2em;
  margin-bottom: 3em;
  background-color: var(--Background);
  height: 100vh;
  width: 100vw;
  color: var(--Text);
  overflow-x: hidden;
}

/* NAVIGATION BAR */
#NavBar {
  position: fixed;
  top: 0;
  height: 2.5em;
  width: 100vw !important;
  margin: none;
  overflow: hidden;
  z-index: 500;
  background-color: var(--NavBar);
}

#navbarList {
  display: flex;
  flex-direction: row;
  grid-template-columns: 6, 1fr;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

li > a {
  text-decoration: none !important;
}

#navbarList > * {
  color: var(--HeaderText);
  font-size: 1.2em;
  text-decoration: none;
}

#lightModeButton {
  height: 3em;
  font-size: small;
}

/*** PAGES ***/

::placeholder {
  font-style: italic;
  font-size: small;
}

/* FOOTER */
#footer {
  position: fixed;
  bottom: 0;
  height: 2.5em;
  width: 100vw;
  margin: none;
  margin-top: 1em;
  margin-bottom: 1px;
  overflow: none;
  z-index: 999;
  background-color: var(--Footer);
}

#footerList {
  display: flex;
  flex-direction: row;
  grid-template-columns: 3, 1fr;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

#footerList > * {
  color: black;
  font-size: 1.2em;
  justify-content: center;
  text-decoration: none;
}

#footerLink {
  color: black;
  font-weight: 400;
}
