#container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
  align-self: flex-end;
  overflow: hidden;
}
#mapContainer {
  height: 400px;
  width: auto;
  border: 1em solid purple;
  border-radius: 10px;
}

#mapRestButton {
  position: relative;
  background-color: yellow;
  font-size: larger;
  border: 0.1em solid purple;
  bottom: 65px;
  left: 30px;
  width: 70px;
  padding: 5px;
  z-index: 500;
}
