#AboutMe {
  /* width: 100%; */
  /* display: flex; */
  align-items: center;
  margin: none;
  padding: none;
  background-color: chartreuse;
}

#aboutMeDiv {
  /* display: flex; */
  justify-content: space-around;
}
